body {
  background-color: #fff;
}

.page, .page-header, .page-nav, .page-footer, .columns {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}

.columns > * {
  margin-top: $spacing / 2;
  margin-bottom: $spacing / 2;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.rows > * {
  padding-top: $spacing / 2;
  padding-bottom: $spacing / 2;
}

.rows-wide > * {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.rows-wider > * {
  padding-top: $spacing * 2;
  padding-bottom: $spacing * 2;
}

.rows > *, .rows-wide > *, .rows-wider > * {
  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.rows--line > * {
  padding-top: $spacing * 2;
  padding-bottom: $spacing  * 2;
  border-bottom: 1px solid #aaa;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

@include media-query($on-desktop) {
  .columns, .topics .columns {
    flex-direction: row;
  }

  .columns > * {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .columns-gutter > * {
    margin-left: $spacing;
    margin-right: $spacing;
  }

  .columns-gutter-narrow > * {
    margin-left: $spacing / 4;
    margin-right: $spacing / 4;
  }

  .columns-gutter > *, .columns-gutter-narrow > * {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .topics .columns {
    &:nth-child(even) {
      flex-direction: row-reverse;

      & > * {
        margin-left: $spacing;
        margin-right: $spacing;

        &:last-child {
          margin-left: 0;
        }

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}
